name: Build Tauri App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-tauri:
    strategy:
      matrix:
        platform: [macos-latest]
        
    runs-on: ${{ matrix.platform }}
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 18
        cache: 'pnpm'
    
    - name: Setup pnpm
      uses: pnpm/action-setup@v2
      with:
        version: 8
    
    - name: install dependencies (ubuntu only)
      if: matrix.platform == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y libwebkit2gtk-4.0-dev build-essential curl wget file libssl-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev
    
    - name: install dependencies (macos only)
      if: matrix.platform == 'macos-latest'
      run: |
        brew install pkg-config
        
    - name: install Rust
      run: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
        source "$HOME/.cargo/env"
        rustup target add x86_64-apple-darwin
        
    - name: install frontend dependencies
      run: pnpm install
      
    - name: build frontend
      run: pnpm build
      
    - name: build Tauri app
      run: pnpm tauri build
      
    - uses: actions/upload-artifact@v4
      with:
        name: ncm2mp3-app
        path: src-tauri/target/release/bundle/
